@import "./variables";

.menu-left {

    height: $full-height;
    border-right: none;
    margin-top: 5.5em;
    overflow: scroll;
    font-weight: $font-weight-normal;

    .list-group-item {
        background: $color-white;
        border-right: none;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
    }

    .list-group-item > a {
        color: $color-dark-black;
    }

    .list-group-item:hover {
        box-shadow: 2px 2px 2px 2px $shadow-color;
    }

}
.menu-left::-webkit-scrollbar { 
    width: 0px;
    background: transparent; 
}
