<div class="registry">

  <navigation></navigation>

  
<div class="registry__headerctr">
  <h5 class="registry__heading">Details of Registry</h5>
  <button type="button" class="float-right btn btn-danger btn-lgw"><i class="fas fa-trash-alt"></i> Delete Registry</button>
</div>

<div class="registry__list">
  <div class="row registry__dataheader">
  <div class="col-md-1"><i class="fas fa-check-square"></i>Select</div>
  <div class="col-md-2"><i class="fas fa-arrow-up"></i>Image Name</div>
  <div class="col-md-2"><i class="fas fa-tag"></i>Tag</div>
  <div class="col-md-2"><i class="fas fa-qrcode"></i>Image ID</div>
  <div class="col-md-1"><i class="fas fa-calendar-alt"></i>Created</div>
  <div class="col-md-2"><i class="fas fa-user"></i>Authur</div>
  <div class="col-md-1"><i class="far fa-eye"></i>Docker Version</div>

  <div class="col-md-1"><i class="fas fa-database"></i>Size</div>
</div>

<div class="row registry__dataheadersearch">
  <div class="col-md-1"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"><input type="text" placeholder="Tag" class="form-check-input" aria-label="Large" id="exampleCheck1"></div>
  <div class="col-md-2"><input type="text" placeholder="Image ID" class="form-check-input" aria-label="Large" id="exampleCheck1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-2"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
</div>




  <ng-template ngFor let-item  *ngIf="allregistrylist" [ngForOf]="allregistrylist" let-i="index" [ngForTrackBy]="trackByFn">
<div class="row registry__dataheader">
  <div class="col-md-1"> <input type="checkbox" class="form-check-input" (click)="checkedItem($event,item)" id="{{item.name}}"></div>
  <div class="col-md-2"  ><a class="registry__anchor" (click)="getManifests($event,item)" id="{{item.name}}"  href="#">{{item.name}}</a></div>
  <div class="col-md-2">{{item.tags[0]}}</div>
  <div class="col-md-2"></div>
  <div class="col-md-1"></div>
  <div class="col-md-2"></div>
  <div class="col-md-1"> </div>
  <div class="col-md-1"></div>
</div>
  </ng-template>
  <button type="button" [ngClass]="[imagestodelete && imagestodelete.length? 'registry__delete float-left btn btn-danger btn-lg':'registry__delete float-left btn btn-danger btn-lg disabled']"><i class="fas fa-trash-alt"></i> Delete selected tags</button>

</div>



</div>