@import "./variables";

.registry {
    margin-top: 100px;

    &__headerctr{
        width: 100%;
        height: 100px;
    }

    &__heading{
        color: $color-tryg-gray;
    }
    &__list{
    //    display: block;
        
    }
    &__dataheadersearch{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        height: 50px;
        text-align: center;
        vertical-align: middle;
    }
    &__dataheader{
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        height: 85px;
        text-align: center;
        vertical-align: middle;

        >div{   
             padding-top: 27px;
            
            }
    }
    &__delete{
        margin-top: 20px;
    }
    &__anchor{
       color:$color-anchor;
    }
}
