@import "./variables";

.registrydetails {
    margin-top: 100px;

    &__headerctr{
        width: 100%;
        height: 100px;
    }

&__tags{
    padding: 10px;
    background-color:$color-light-gray;
    margin: 5px;
}
}
