<div class="registrydetails">

    <div *ngIf="imageDetails" class="row">
        <div class="col-12">
            <h4 class="text-center">Image {{imageDetails.name}}</h4>
        </div>
    </div>
        <div *ngIf="imageDetails" class="row">
                <div class="col-6">
                    <p>schemaVersion</p>
                    <p>Name</p>
                    <p>Tags</p>
                    <!-- <p>Architecture</p> -->
                    <p>Image ID</p>
                    <p>Size</p>
                </div>
                <div *ngIf="sltdimageDetails && imageDetails" class="col-6">
                    <p>{{imageDetails.schemaVersion}}</p>
                    <p>{{sltdimageDetails.name}}</p>
                    <ng-template ngFor let-item  *ngIf="sltdimageDetails.tags" [ngForOf]="sltdimageDetails.tags" let-i="index" [ngForTrackBy]="trackByFn">
                    <span class="registrydetails__tags">{{item}}</span>
                    </ng-template>
                    <p>{{imageDetails.config.digest}}</p>
                    <p>{{imageDetails.config.size}}</p>
                </div>
            </div>



    


    </div>