<div class="navigation">
  <h2 class="navigation__heading"> Carex Docker Registry Frontend</h2> 
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" (click)="gotoHome()" aria-current="page">Home</li>
    </ol>
  </nav>
</div>