@import "./variables";

.navigation {
    &__heading {
        color: $color-tryg-gray;
        padding: 20px;
        padding-left: 0;
        font-weight: 300;
        font-size: 20px;
    }
    .breadcrumb li{
        color:$color-anchor;
    }
}
