<header-page></header-page>
<div class="row">
  <div class="col-2 row--left-container">
    <menu-left></menu-left>

  </div>
  <div class="col-8">
   <!-- <registry></registry> -->
    <router-outlet></router-outlet>
  </div>
  <div class="col-2 row--right-container">
    <menu-right></menu-right>
  </div>
</div>
<footer-page></footer-page>