@import './variables';
.header-page {
    background-color: $primary-color-theme;
    height: 5em;
    position: absolute;
    width: 100%;
    z-index: $minimum-priority;
    
    &__logo {
        height: 3em;
        width: auto;
    }
    &__logo-link {
        font-weight: bold;
    }
    &__login {
        color: $color-white;
    }
    &__user-container {
        width: 100%;
        margin-right: 5em;
        margin-top: 1.5em;
        display: inline-block;
        float: right;
    }
    &__user {
        width: 100%;
        position: relative;
        text-align: right;
        color: $color-white;
    }
    &__user-btn {
        background: $primary-color-theme;
        border: none;
    }
    &__logout {
        color: $color-white;
    }
    &__dropdown {
        float: right;
        margin-left: 1em;
        display: inline-block;
    }
    &__version {
        color: $color-white;
        float: right;
        margin-right: 1em;
        display: inline-block;
        height: 0;
        position: relative;
    }
    &__dropdown-menu {
        background: #0d3348;
        opacity: .8;
        color: white;
        z-index: 999;
    }
    &__dropdown-item {
        color: $color-white;
    }
    &__dropdown-item>i {
        margin-right: .5em;
    }
    &__menu-button {
        background: $primary-color-theme;
    }
    &__notifications {
        color: $color-white;
        font-size: 1.5em;
    }
    &__notification-container {
        width: 2em;
        float: right;
        margin-left: 1em;
        margin-top: 0em;
        float: right;
    }
    &__notify {
        height: 1.2em;
        width: 1.2em;
        background: $color-highlight-green;
        display: block;
        border-radius: 109%;
        margin-top: -2.4em;
        position: absolute;
        margin-left: .7em;
        font-size: .7em;
        text-align: center;
        line-height: 1.2em;
    }
}