<div class="header-page">

  <span class="header-page__version">version  1.0.2</span>
  <nav class="navbar navbar-expand-md navbar-dark">

    <a class="navbar-brand header__logo-link" href="#">
      <img class="header-page__logo" src="assets/img/logo-carex.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="header-page__user-container">
    </div>
  </nav>
</div>