@import './variables';

.menu-right{
    //background-color: $color-lightgray;
    height: $full-height;
    font-weight: $font-weight-normal;

    &__list-container{
        position: relative;
        margin-top: 6em;
    } 
    .list-group-item{
        background: $color-white;
        color: $primary-color-theme;
        border-left: none;
        cursor: pointer;
        > a {
            color: $color-dark-black;
        }
    }
    .list-group-item:hover{
        box-shadow: 2px 2px 2px 2px $shadow-color;
       }
}