<div class="login">

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Bruger Navn</label>
      <input type="email" [(ngModel)]="userkey"   [ngModelOptions]="{standalone: true}"  stan class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input [(ngModel)]="passwordkey"   [ngModelOptions]="{standalone: true}"  type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <small id="emailHelp" *ngIf="error===true" class="form-text text-danger">Wrong username or password</small>
    <button type="submit" (click)="login()" class="btn btn-primary btn-lg">Submit</button>
    
  </form>

</div>